body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #1a73e8;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #1a73e8;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #1a73e8;
}


@media (max-width: 767px) {
    td, th {
        display: grid;
        width: 100%;
    }
}